@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: #666;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 16px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
}
