/* Add CSS Styling */
.odd {
  background-color: #FF9191;
  font-family: Verdana, sans-serif;
}

#second-element {
  color: #2E3CFF;
  font-size: 36px;
}

#third-element {
  font-size: 24px;
}

#fourth-element {
  background-color: #8AFF97;
  font-size: 24px;
  font-weight: bold;
}
